body {
    height: 100%;
    overflow: hidden;
}

.main_row {
    width: 100%;
}

#push_up_col {
    background-color: #b32e2e;
}
#bench_press_col {
    background-color: #44b882;
}
#squat_col {
    background-color: #e9e161;
}
#pull_up_col {
    background-color: #1e4dc1;
}

.title_col {
    height: 70px;
}

.content_col {
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
}

.img_col {
    display: flex;
    height: calc(50vh - 50px);
}

.img_col img {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}